[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/tempo"]
	path = deps/tempo
	url = git@github.com:snailbaron/tempo.git
[submodule "deps/evening"]
	path = deps/evening
	url = git@github.com:snailbaron/evening.git
[submodule "deps/thing"]
	path = deps/thing
	url = git@github.com:snailbaron/thing.git
